.restaurant-access-info {
    line-height: 1.4;
    display: inline-block;
    width: 100%;
}

.restaurant-access-info-element {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    background-size: 2.5em;
    background-repeat: no-repeat; 
    background-position-y: 50%;
    box-sizing: border-box;
    vertical-align: top;
}

.restaurant-access-info-element.subway {
    float: right;
    padding: 0.33em 0 0.33em;
    text-align: center;
}

.restaurant-access-info-element.scooter, .restaurant-access-info-element.wheelchair {
    padding: 0.33em 0 0.33em 3em;
}

.restaurant-access-info-element.scooter {
    background-image: url("/icons/scooter.png")
}

.restaurant-access-info-element.wheelchair {
    background-image: url("/icons/wheelchair.png")
}