@import "colors.scss";

.carousel-outer {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
}
  
.carousel-inner {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0;
    transition: transform 200ms ease-in-out;
}

.carousel-image-frame {
    text-align: center;
    position: relative;
    display: inline-block;
}

.carousel-image {
    vertical-align: top;
    max-width: 99%;
    max-height: 99%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-thumbnail-container {
    text-align: center;
    padding-top: 4px;
}

.carousel-thumbnail {
    max-width: 40px;
    max-height: 40px;
    border: 4px solid transparent;
    border-radius: 8px;
    transition: border-color 100ms ease-in-out;
    vertical-align: top;
}

.active.carousel-thumbnail {
    border-color: $orange;
}

.carousel-thumbnail+.carousel-thumbnail {
    margin-left: 6px;
}