@import "styles/colors.scss";
@import "styles/fonts.scss";

.refinementContainer {
    padding: 0 12px;
}

h1.refineView {
    font-size: 26px;
    margin-bottom: 0.33em;
}

.refinement-footer {
    background-color: $charcoal;
    position: fixed;
    width: 100%;
    margin-top: 1em;
    left: 0;
    //right: 0;
    bottom: 0;
    padding: 0.5em;
    text-align: center;
    box-shadow: 0px -1px 4px 1px rgba(0,0,0,0.3);
    box-sizing: border-box;
}

.clear-filter {
    color: white;
    display: inline-block;
    padding: 0.25em 0.5em;
    vertical-align: baseline;
    margin-right: 1.5em;
}