.restaurant-link-block {
    text-align: center;
    font-size: 0.75em;
    margin: 0 5%;
    text-transform: lowercase;
}

.restaurant-link-button {
    width: 25%;
    display: inline-block;
    padding: 0.5em 0;
    box-sizing: border-box;
}

.restaurant-link-icon {
    widtH: 32px;
}