.view-refinement-button {
    font-size: 0.9em;
    width: 10em;
    margin-top: 0.66em;
    padding: 0.5em;
  }
  
.view-refinement-button+.view-refinement-button {
    margin-left: 1em;
}

.card.search-result {
    overflow: hidden;
    margin: 0.66em;
    padding: 0 0.5em;
}
  
.search-result-title {
    margin: 0.33em 0;
}
  
.search-result-description {
    font-size: 0.85em;
    margin: 0.5em 0 0.66em;
}
  
.search-result-details {
    text-align: center;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    cursor: pointer;
}

  
.search-result-image-container {
    position: relative;
    width: 130px;
    font-size: 0em;
    float: left;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid $charcoal;
    border-radius: 3px;
    z-index: 10;
    margin-bottom: 0.5rem;
}
  
.access-icon {
    height: 32px;
    border: 1px solid $charcoal;
    border-radius: 3px;
    position: absolute;
    top: -1px;
    left: -1px;
    background-color: $cream;
}
  
.gold.access-icon {
    background-color: gold;
    background-image: url('/images/gold-bg.jpg');
    background-position-x: 69%;
    background-size: cover;
    border-color: #a0770e;
}
  
img.search-result-image {
    width: 100%;
}
  
div.search-result-image {
    width: 100%;
    padding-top: 75%;
    background-color: #ddd;
}

.hide-overflow {
    overflow: hidden !important;
}

.rating-container {
    position: absolute;
    bottom: -8px;
    text-align: center;
    left: 0;
    right: 0;
}

.rating-star {
    position: absolute;
    background-image: url("/images/stars-01.png");
    background-size: cover;
    background-position: center;
    padding: 18px;
    display:inline-block;
    bottom: 0;
}

.rating-star + .rating-star {
    background-position-x: 0%;
}
.rating-star + .rating-star + .rating-star {
    background-position-x: 100%;
    z-index: 2;
}

.rating-star:nth-child(1) {
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 4;
}

.rating-star:nth-child(2) {
    right: 50%;
    transform: translate(-0%, 20%);
    z-index: 1;
}

.rating-star:nth-child(3) {
    position: absolute;
    left: 50%;
    transform: translate(0%, 20%);
    z-index: 1;
}

@media (max-width: 360px) {
    .view-refinement-button {
        width: 8.5em;
        padding: 0.5em;
    }

    .view-refinement-button+.view-refinement-button {
        margin-left: 0.75em;
    }
}