@import "styles/colors.scss";
@import "styles/fonts.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $cream;
  font-size: 18px;
  font-family: $body-font
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button, .button {
  display: inline-block;
  padding: 0.5em 1.5em;
  border: 1px solid #666;
  border-bottom: 1px solid black;
  background-color: white;
  font-size: 1em;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 2px;
  -webkit-appearance: button;
  appearance: button;
  box-sizing: border-box;
  line-height: 1;
  box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.3);
  transition: box-shadow 100ms ease-in-out;
  font-family: $body-font;
}

button:active, .button:active {
  //box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.6)
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3);
}

button:focus, .button:focus {
  border: 1px solid #666;
  border-bottom: 1px solid black;
  text-decoration: underline;
}

button.orange, .button.orange {
  background-color: $orange;
}

button.cyan, .button.cyan {
  background-color: $cyan;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $header-font;
}

b {
  font-weight: normal;
  font-family: $body-font-bold;
}

header {
  background-color: $charcoal;
  color: $cream;
  font-family: $header-font;
  font-size: 32px;
  line-height: 1em;
  padding: 0.5em 0 0.2em;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
}

input[type=text], input[type=password], input[type=number]{
  background-color: $orange;
  border: 1px solid transparent;
  transition: border 200ms ease-in;
  padding: 8px;
  font-family: $body-font;
  border-radius: 2px;
  font-size: 16px;
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus{
  border: 1px solid $charcoal;
  outline: none;
}

.full-width {
  width: 100%;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.pill {
  display: inline-block;
  border-radius: 500px;
  padding: 0.35em 0.75em 0.3em;
  transition: background-color 100ms ease-in-out;
  -webkit-user-select: none;
  user-select: none;
  margin: 0.25em 0.25em;
}

.pill.orange-pill {
  background-color: $orange;
}

.pill.cyan-pill {
  background-color: $cyan;
}

input+.pill {
  border: 1px solid black;
  cursor: pointer;
}

input:checked+.pill {
  background-color: $orange;
}

.card {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 1px 4px 3px rgba(0,0,0,0.2);
  
}

.card.search-result {
  overflow: hidden;
  margin: 0.66em;
  padding: 0 0.5em;
}

.search-result-title {
  margin: 0.33em 0;
}

.search-result-description {
  font-size: 0.85em;
  margin: 0.5em 0 0.66em;
}

.search-result-details {
  text-align: center;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  cursor: pointer;
}