@import "styles/colors.scss";
@import "styles/fonts.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $cream;
  font-size: 18px;
  font-family: $body-font;
  padding-top: 50px;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button, .button {
  display: inline-block;
  padding: 0.5em 1.5em;
  border: 1px solid #666;
  border-bottom: 1px solid black;
  background-color: white;
  font-size: 1em;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 2px;
  -webkit-appearance: button;
  appearance: button;
  box-sizing: border-box;
  line-height: 1;
  box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.3);
  transition: box-shadow 100ms ease-in-out;
  font-family: $body-font;
  color: $charcoal;
  text-decoration: none;
}

.anchor-style, .anchor-style {
  color: $charcoal;
  border: none;
  background-color: transparent;
  box-shadow: none;
  text-decoration: underline;
  border: none;
  padding: 0px;
  -webkit-appearance: auto;
  appearance: auto;
}

button:active, .button:active {
  //box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.6)
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3);
}

button:focus, .button:focus {
  border: 1px solid #666;
  border-bottom: 1px solid black;
  text-decoration: underline;
}

button.orange, .button.orange {
  background-color: $orange;
  color: $charcoal;
}

button.cyan, .button.cyan {
  background-color: $cyan;
  color: $charcoal;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $header-font;
}

b {
  font-weight: normal;
  font-family: $body-font-bold;
}

header {
  background-color: $charcoal;
  color: $cream;
  font-family: $header-font;
  font-size: 26px;
  line-height: 1em;
  padding: 0.6em 0 0.3em;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.5);
  z-index: 50;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

footer {
  margin-top: 2em;
  background-color: $charcoal;
  color: $cream;
  text-align: center;
  padding: 1em 0.5em;
  font-size: 0.9em;
}

.built-in-queens {
  font-family: $header-font;
  font-size: 1.5em;
  text-transform: uppercase;
}

footer>.copyrights {
  font-size: 0.8em;
  margin-top: 1.5em;
}

p.footer {
  margin: 0.5em;
  opacity: 0.95;
}

input[type=text], input[type=password], input[type=number]{
  background-color: $orange;
  border: 1px solid transparent;
  transition: border 200ms ease-in;
  padding: 8px;
  font-family: $body-font;
  border-radius: 2px;
  font-size: 16px;
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus{
  border: 1px solid $charcoal;
  outline: none;
}

.full-width {
  width: 100%;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.text-align-center {
  text-align: center;
}

.pill {
  display: inline-block;
  border-radius: 500px;
  padding: 0.35em 0.75em 0.3em;
  transition: background-color 100ms ease-in-out;
  -webkit-user-select: none;
  user-select: none;
  margin: 0.25em 0.25em;
}

.pill.orange-pill {
  background-color: $orange;
}

.pill.cyan-pill {
  background-color: $cyan;
}

.pill.gray-pill {
  background-color: #cccccc;
}

.restaurant-data-pill-block {
  text-align: center;
  display: flex;
  flex-flow: wrap;
}

.search-result-pill {
  flex-grow: 1;
}

input+.pill {
  border: 1px solid black;
  cursor: pointer;
}

input:checked+.pill {
  background-color: $orange;
}

.card {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 1px 4px 3px rgba(0,0,0,0.2);
  
}

@import "styles/refinementScreens.scss";
@import "styles/searchResults.scss";
@import "styles/restaurantView.scss";
@import "styles/carousel.scss";
@import "styles/price.scss";
@import "styles/restaurantLinkBlock.scss";
@import "styles/subwayBullet.scss";
@import "styles/accessibilityInfoBlock.scss";